# This is Git's per-user configuration file.
[user]
	name = Jake Reichert
	email = jake@jakereichert.com
# Please adapt and uncomment the following lines:
; name = !bash
; email = jake@sagen.ai
[diff]
	tool = diffmerge
[difftool "diffmerge"]
    cmd = /usr/local/bin/diffmerge.sh \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	trustExitCode = true
	cmd = /usr/local/bin/diffmerge.sh --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[init]
	defaultBranch = main

#### Config for git-delta (https://github.com/dandavison/delta?tab=readme-ov-file) ####
[core]
    pager = delta
	excludesfile = /Users/jake/.gitignore_global

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true # whether to show file versions next to each other, or in one file as regular diff does
    line-numbers = true
    hyperlinks = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

#### End config for git-delta ####
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
	rebase = false
[commit]
	template = /Users/jake/.stCommitMsg
